@using BookReview.Models.Cookies;
@model BookReview.Models.Data.Book


@{
  var user = AuthCookie.Current;
}

@{
  ViewBag.Title = "Details";
  Layout = "~/Views/Shared/_Layout.cshtml";
  var Book = Model;
}


<header>
  @ViewBag.Title
  <h3>@Book.Title</h3>
  <hr />
</header>

<div class="row">
  <div class="col-md-3">
    <a href="#" data-toggle="modal" data-target="#PopupModal">
      <img class="img-responsive" src="@Book.CoverArt" alt="@Book.Title" style="width:200px;margin:5px auto" title="More Details" />
    </a>

    <div id="PopupModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">@Book.Title</h4>
          </div>
          <div class="modal-body">
            <ul>
              <li>Category: @Book.Category</li>
              <li>Publisher: @Book.Publisher</li>
              <li>Author: @Book.Author</li>
              <li>ISBN 10: @Book.ISBN10</li>
              <li>ISBN 13: @Book.ISBN13</li>
              <li>Page Count: @Book.PageCount</li>
            </ul>
          </div>

          <div class="modal-footer"></div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <h3>Summary:</h3>
    <p>@Book.Summary</p>
  </div>
</div>

<br />

<div class="row">
  <div class=" col-md-3">
    <div id="ReviewPopupModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>

          <div class="modal-body">
            <form action="@Url.Action("SaveReview", "Book")" method="post">
              <input type="hidden" name="BookID" value="@Model.ID" />
              <input type="hidden" name="UserID" value="@AuthCookie.Current.ID" />
              <input type="hidden" name="Date" value="@DateTime.Now" />

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">Subject</span>
                  <input class="form-control" type="text" name="Subject" placeholder="subject" />
                </div>
              </div>

              <textarea type="text" name="Body" placeholder="Tell the world what you think of this product." wrap="hard" style="width:100%; height: 100px; "></textarea>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">Rating</span>
                  <input class="form-control" type="text" name="Rating" placeholder="0.0 to 5.0" />
                </div>
              </div>

              <div class="form-group">
                <input type="submit" value="Post" class="btn btn-default" />
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="col-md-8">
    <h4 style="color:#777">Most Helpful Reviews</h4>
    <a href="#" data-toggle="modal" data-target="#ReviewPopupModal">
      Write a Review  <i class="fa fa-pencil"></i>
    </a>

    <div style="width:100%;height:190px;overflow:scroll;overflow-y:scroll hidden;overflow-x:hidden;">
      @foreach (var r in Model.Reviews.OrderByDescending(r => r.Date)) {

        <p style="background-color:rgba(180, 180, 180, 0.21);"><b>Subject: @r.Subject</b> </p>
        <p style="background-color:rgba(180, 180, 180, 0.15); white-space:normal;">Body: @r.Body</p>
        <p style="background-color: rgba(180, 180, 180, 0.21);">Rating: @r.Rating /5</p>
        <p style="background-color: rgba(180, 180, 180, 0.15); font-size:11px;">By: <i>@r.User.Username</i></p>
        <br />
      }

    </div>
  </div>
</div>


  @if (user.Groups.Contains("Administrator")) {
   <p> @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) 
  </p>
  }

  @Html.ActionLink("Back to Catalog", "Index")

