<!DOCTYPE html>
@{
  var user = AuthCookie.Current;
}
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - My ASP.NET Application</title>
  @Styles.Render("~/Content/css")
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>@Html.ActionLink("Home", "Index", "Home")</li>
          <li>@Html.ActionLink("About", "About", "Home")</li>
          <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
          <li>@Html.ActionLink("Catalog", "Index", "Book")</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          @if (user.ID != Guid.Empty) {
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">@user.DisplayName &#160;<i class="fa fa-cog"></i>  <b class="caret"></b></a>
              <ul class="dropdown-menu">
                @if (user.Groups.Contains("Administrator")) {
                  <li><a href="@Url.Action("Index","Users")"><i class="fa fa-fw fa-users"></i> &#160; Manage Users</a></li>
                  <li class="divider"></li>
                }
                <li><a href="@Url.Action("Logout", "Home")"><i class="fa fa-fw fa-power-off"></i> &#160; Logout</a></li>
              </ul>

            </li>
          }
          else {
            <li><a href="#" data-toggle="modal" data-target="#LoginModal">Login</a></li>
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p class="text-center">&copy; @DateTime.Now.Year - Application Name</p>
    </footer>
  </div>

  <div id="LoginModal" class="modal fade">
    <form class="form" action="@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Login" })" method="post">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Login</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
              <input class="form-control" type="text" name="Username" autocomplete="off" placeholder="E-Mail Address" />
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
              <input class="form-control" type="password" name="Password" autocomplete="off" placeholder="Password" />
            </div>
          </div>
          <div class="modal-footer">
            <span class="text-muted" style="display:none;">Login Failed... </span>
            <i class="fa fa-fw fa-spinner fa-spin" style="display:none;"></i>
            <input type="submit" id="LoginButton" class="btn btn-primary" value="Login" />
          </div>
        </div>
      </div>
    </form>
  </div>
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @Scripts.Render("~/bundles/site")
  @RenderSection("scripts", required: false)
</body>
</html>